* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
}

button {
  width: 80px;
  height: 80px;
  background-color: red;
}
/* /* 헤더를 만들거임 플렉스로  */

/* 섹션 GRID 혹은 플렉스  */

/* FOOTER */
